
.container-fluid {
    padding: 3.3rem 3rem; 
}
.jumbotron {
    padding: 5.5rem 1.5rem;
    color: #fff;
    background-color: #f4511e;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo {
    font-size: 12rem;
}

@media screen and (max-width: 768px ){

    .col-sm-4 {
        text-align: center;
        margin: 1.55rem 0;
    }
}
