* {
    font-size: 20px;
}
   body {
       font-size: 90%;
   }
      .body-signing {
          background-color: #e6f2ff;
      }
      .container-signing {
         margin: 7% auto 5%;
      }

      .card-signing {
           padding: 1rem 5% .5rem;
           background-color: #f4f4f4;
           box-shadow: 2px 2px 5px rgba( 0, 0, 0, .5);
      }

         .img-signing {
             margin: 1rem auto;
             padding: 0;
             display: block;
             width: 50%;
        }

        .form-signing {
             max-width: 350px;
             margin: auto;
         }
        .btn-purple {
           background: rgb(135, 45, 170);
           border-color: rgb(135, 45, 170);
}
