* {
    /* outline: 1px solid red; */
    font-size: 20px;
}

   .body-signing {
       background-color: #e6f2ff;
   }
   .container-signing {
      margin-top: 10%;
   }

   .card-signing {
        padding: 2rem 0 1rem;
        background-color: |#f4f4f4;
        box-shadow: 2px 2px 5px rgba( 0, 0, 0, .5);
   }
