

.card-subtitle {
  color: #6C7584;
}

/*Hovering */
.card:hover,
.card:focus {
  background-color:#3292A6;
  color: #fff;
}

.card:hover .fab,
.card:focus .fab  {
  color: #fff;
}
.card:hover .card-subtitle,
.card:focus .card-subtitle {
  color: #FFAD66;
}

/* Toast */
.toast-wrapper {
  position: relative;
  min-height: 200px;
}

    .toast {
      position: absolute;
      top: 0;
      left: 0;
    }